@import url("../../../index_main_style.css");

*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#header{
    width: 100%;
    height: 620px;
    
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
    
  }

.boxProduct, .boxProduct *{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxProduct{
  height: 800px;
  width: 100%;
  flex-direction: column;
  
  pointer-events: auto;
  
  .boxProduct_conteiner{
    height: 80%;
    width: 80%;
    
    .boxProduct_gallery{
      height: 100%;
      width: 60%;
      
      .boxProduct_gallery_miniature{
        width: 150px;
        height: 100%;
        
        flex-direction: column;
        
        justify-content: space-between;
        
        gap: 5px;
        
        button{
          height: 20px;
          width: 100%;
          opacity: 0.4;
          border: none;
          background-color: inherit;
          cursor: pointer;
          
          img{
            height: auto;
            width: 30%;
          }
          
          &:hover{
            opacity: 1;
          }
        }
        
        .boxProduct_gallery_miniatureConteiner{
          width: 80%;
          aspect-ratio: 1/1;
          border: 1px solid rgba(0, 0, 0, 0.5);
          opacity: 0.4;
          border-radius: 3px;
          overflow: hidden;
          transition: all 0.3s ease;
          
          img{
            height: auto;
            width: 100%;
            cursor: pointer;
          }
          
          &:hover{
            border: 1px solid var(--dark-logo);
            opacity: 0.6;
          }
          
          &.destaque{
            border: 1px solid var(--dark-logo);
            opacity: 1 !important;
          }
        }
      }
      
      .boxProduct_gallery_main{
        
        width: 90%;
        height: 100%;
        
        flex-direction: column;
        justify-content: space-between;
        
        .boxProduct_gallery_mainLupa {
          position: relative;
          display: inline-block;
          width: 90%;
          aspect-ratio: 1/1;
          cursor: zoom-in;
          margin: 0 auto;
          
          img{
            height: 100%;
            width: 100%;
          }
          
          .lupa {
            position: absolute;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            width: 150px; /* Tamanho da lupa */
            height: 150px;
            background-repeat: no-repeat;
            background-size: 200%;
            pointer-events: none;
            display: none;
          }
          
          &:hover .lupa{
            display: block;
          }
        }
        
        .boxProduct_gallery_share{
          
          height: 5%;
          width: 100%;
          
          .boxProduct_gallery_shareIcons{
            height: 80%;
            gap: 10px;
            padding-left: 10px;
            padding-right: 20px;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            
            img{
              height: 80%;
              width: auto;
              opacity: 0.5;
              transition: all 0.3s ease;
              
              &:hover{
                opacity: 1;
                cursor: pointer;
              }
            }
          }
          
          .boxProduct_gallery_shareFav{
            height: 80%;
            
            padding-left: 10px;
            transition: opacity 0.3s ease-in-out;
            
            img{
              height: 90%;
              width: auto;
              opacity: 0.5;
              transition: all 0.3s ease;
              
              margin-right: 10px;
              cursor: pointer;
              
              &:hover{
                opacity: 1;
                cursor: pointer;
              }
            }
          }
        }
      }
      
    }
    
    .boxProduct_description{
      font-family: 'Open Sans';
      height: 100%;
      width: 40%;
      justify-content: flex-start;
      flex-direction: column;
      
      gap: 15px;
      
      .boxProduct_descriptionTitle{
        align-items: flex-start;
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        gap: 8px;
        padding-bottom: 15px;
        width: 100%;

        h2{
          font-size: 18px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.5);
        }
        
        h1{
          font-size: 24px;
          font-weight: normal;
        }
        
        span{
          font-size: 12px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      
      .boxProduct_descriptionPrice{
        height: auto;
        width: 100%;
	      flex-direction: column;
	      align-items: flex-start;
	      gap: 5px;
        
        .boxProduct_offerPrice{
          align-items: baseline;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 5px;
          margin-bottom: 20px;
          
          /* PRICE OFFER */
          h1{
            font-size: 40px;
            color: var(--destaque);
  	        font-weight: bold;
          }

          /* PREÇO ORIGINAL */
          h2{
            font-size: 15px;
            text-decoration: line-through;
          }
          
          p{
            font-size: 17px;
            
            strong{
              color: var(--destaque);
            }
          }
          
        }
        
        h3{
          gap: 5px;
          
          p{
            font-size: 15px
            font-weight: 400;
          }
        }
        
        /* PARCELAMENTO */
        p{
          font-size: 15px;
          flex-direction: row;
          gap: 5px;
          flex-wrap: wrap;
        }
      }
      
      .boxProduct_btns{
        width: 100%;
        flex-direction: column;
        align-items: start;
        
        gap: 10px;
        
        
        * button{
          height: 100%;
          width: 100%;
          border: none;
          background-color: inherit;
          border-radius: 5px;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        
        .boxProduct_btnsSup{
          
          width: 70%;
          height: 50px;
          
          justify-content: space-between;
          
          gap: 10px;
          
          .boxProduct_btnsQtd{
            border: 1px solid rgba(0, 0, 0, 0.3);
            
            width: 30%;
            height: 100%;
            
            border-radius: 5px;
            
            input{
              text-align: center;
              font-size: 18pt;
              
              width: 35%;
              height: 100%;
              
              border: none;
              
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            
              & {
                -moz-appearance: textfield;
              }
            }
            
            button{
              width: 30%;
              font-size: 20pt;
              
              &:hover{
                color: var(--destaque-contraste);
              }
            }
          }
          
          .boxProduct_btnsBuy{
            width: 75%;
            height: 100%;
            border-radius: 5px;
            
            button{
              font-size: 12pt;
              font-weight: bold;
              color: var(--branco);
              border: 2px solid var(--destaque-contraste);
              background-color: var(--destaque-contraste);
              
              &:hover{
                background-color: var(--branco);
                color: var(--destaque-contraste);
                border: 2px solid var(--destaque-contraste);
              }
            }
          }
        }
        
        .boxProduct_btnsInf{
          border: 1px solid var(--whatsapp);
          
          height: 30px;
          width: 70%;
          
          border-radius: 5px;
          
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          
          button{
            font-size: 11pt;
            color: var(--whatsapp);
            
            img{
              height: 75%;
              width: auto;
              margin-left: 5px;
            }
            
            &:hover{
              background-color: var(--whatsapp);
              color: var(--branco);
            }
            
            &:hover img{
              content: url('https://assets.onecompiler.app/42wu6ajnx/436r6bnrh/whatsapp_w.png');
            }
          }
        }
      }
      
      .boxProduct_cep{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        font-size: 10pt;
        
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        
        padding-top: 15px;
        gap: 10px;
        
        .boxProduct_boxCep{
          border: 1px solid rgba(0, 0, 0, 0.2);
          width: 70%;
          height: 50px;
          border-radius: 5px;
          box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
          
          input{
            width: 70%;
            height: 70%;
            font-size: 15pt;
            
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            padding-left: 20px;
          }
          
          button{
            width: 30%;
            font-size: 14pt;
            font-weight: 300;
            border: none;
            background-color: inherit;
            margin: 0 10px;
            transition: all 0.3s ease;
            
            &:hover{
              color: var(--destaque-contraste);
              cursor: pointer;
            }
          }
        }
      }
    }
    
  }
}

.boxDescription, .boxDescription *{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxDescription{
  background-color: var(--cinza);
  padding: 50px 0;
  width: 100%;
  line-height: 2.2;
  flex-direction: column;
  
  h1{
    color: var(--destaque);
  }
  
  .boxDescription_content{
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px){
  body{
    padding-top: 97px;
  }
  
  #header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 97px;
    z-index: 1000;
    
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
    
  }
  
  .boxProduct{
    height: 640px;
    width: 100%;
    flex-direction: column;
    
    pointer-events: auto;
    
    .boxProduct_conteiner{
      height: 80%;
      width: 95%;
      
      .boxProduct_gallery{
        height: 100%;
        width: 60%;
        
        .boxProduct_gallery_miniature{
          width: 150px;
          height: 100%;
          
          flex-direction: column;
          
          justify-content: space-between;
          
          gap: 5px;
          
          button{
            height: 20px;
            width: 100%;
            opacity: 0.4;
            border: none;
            background-color: inherit;
            cursor: pointer;
            
            img{
              height: auto;
              width: 30%;
            }
            
            &:hover{
              opacity: 1;
            }
          }
          
          .boxProduct_gallery_miniatureConteiner{
            width: 80%;
            aspect-ratio: 1/1;
            border: 1px solid rgba(0, 0, 0, 0.5);
            opacity: 0.4;
            border-radius: 3px;
            overflow: hidden;
            transition: all 0.3s ease;
            
            img{
              height: auto;
              width: 100%;
              cursor: pointer;
            }
            
            &:hover{
              border: 1px solid var(--dark-logo);
              opacity: 0.6;
            }
            
            &.destaque{
              border: 1px solid var(--dark-logo);
              opacity: 1 !important;
            }
          }
        }
        
        .boxProduct_gallery_main{
          
          width: 90%;
          height: 100%;
          
          flex-direction: column;
          justify-content: space-between;
          
          .boxProduct_gallery_mainLupa {
            position: relative;
            display: inline-block;
            width: 90%;
            aspect-ratio: 1/1;
            cursor: zoom-in;
            margin: 0 auto;
            
            img{
              height: 100%;
              width: 100%;
            }
            
            
            .lupa {
              position: absolute;
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
              border-radius: 50%;
              width: 150px; /* Tamanho da lupa */
              height: 150px;
              background-repeat: no-repeat;
              background-size: 200%;
              pointer-events: none;
              display: none;
            }
            
            &:hover .lupa{
              display: block;
            }
          }
          
          .boxProduct_gallery_share{
            
            height: 5%;
            width: 100%;
            
            .boxProduct_gallery_shareIcons{
              height: 80%;
              gap: 10px;
              padding-left: 10px;
              padding-right: 20px;
              border-right: 1px solid rgba(0, 0, 0, 0.2);
              
              img{
                height: 80%;
                width: auto;
                opacity: 0.5;
                transition: all 0.3s ease;
                
                &:hover{
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
            
            .boxProduct_gallery_shareFav{
              height: 80%;
              
              padding-left: 10px;
              transition: opacity 0.3s ease-in-out;
              
              img{
                height: 90%;
                width: auto;
                opacity: 0.5;
                transition: all 0.3s ease;
                
                margin-right: 10px;
                cursor: pointer;
                
                &:hover{
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
          }
        }
        
      }
      
      .boxProduct_description{
        font-family: 'Open Sans';
        height: 100%;
        width: 40%;
        justify-content: flex-start;
        flex-direction: column;
        
        gap: 15px;
        
        .boxProduct_descriptionTitle{
          align-items: flex-start;
          flex-direction: column;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
          gap: 8px;
          padding-bottom: 15px;
          width: 100%;
  
          h2{
            font-size: 18px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.5);
          }
          
          h1{
            font-size: 20px;
            font-weight: normal;
          }
          
          span{
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        
        .boxProduct_descriptionPrice{
          height: auto;
          width: 100%;
  	      flex-direction: column;
  	      align-items: flex-start;
  	      gap: 5px;
          
          .boxProduct_offerPrice{
            align-items: baseline;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 20px;
            
            /* PRICE OFFER */
            h1{
              font-size: 40px;
              color: var(--destaque);
    	        font-weight: bold;
            }
  
            /* PREÇO ORIGINAL */
            h2{
              font-size: 15px;
              text-decoration: line-through;
            }
            
            p{
              font-size: 17px;
              
              strong{
                color: var(--destaque);
              }
            }
            
          }
          
          h3{
            gap: 5px;
            
            p{
              font-size: 15px
              font-weight: 400;
            }
          }
          
          /* PARCELAMENTO */
          p{
            font-size: 15px;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;
          }
        }
        
        .boxProduct_btns{
          width: 100%;
          flex-direction: column;
          align-items: start;
          
          gap: 10px;
          
          
          * button{
            height: 100%;
            width: 100%;
            border: none;
            background-color: inherit;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;
          }
          
          .boxProduct_btnsSup{
            
            width: 70%;
            height: 50px;
            
            justify-content: space-between;
            
            gap: 10px;
            
            .boxProduct_btnsQtd{
              border: 1px solid rgba(0, 0, 0, 0.3);
              
              width: 30%;
              height: 100%;
              
              border-radius: 5px;
              
              input{
                text-align: center;
                font-size: 18pt;
                
                width: 35%;
                height: 100%;
                
                border: none;
                
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              
                & {
                  -moz-appearance: textfield;
                }
              }
              
              button{
                width: 30%;
                font-size: 20pt;
                
                &:hover{
                  color: var(--destaque-contraste);
                }
              }
            }
            
            .boxProduct_btnsBuy{
              width: 75%;
              height: 100%;
              border-radius: 5px;
              
              button{
                font-size: 12pt;
                font-weight: bold;
                color: var(--branco);
                border: 2px solid var(--destaque-contraste);
                background-color: var(--destaque-contraste);
                
                &:hover{
                  background-color: var(--branco);
                  color: var(--destaque-contraste);
                  border: 2px solid var(--destaque-contraste);
                }
              }
            }
          }
          
          .boxProduct_btnsInf{
            border: 1px solid var(--whatsapp);
            
            height: 30px;
            width: 70%;
            
            border-radius: 5px;
            
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            
            button{
              font-size: 11pt;
              color: var(--whatsapp);
              
              img{
                height: 75%;
                width: auto;
                margin-left: 5px;
              }
              
              &:hover{
                background-color: var(--whatsapp);
                color: var(--branco);
              }
              
              &:hover img{
                content: url('https://assets.onecompiler.app/42wu6ajnx/436r6bnrh/whatsapp_w.png');
              }
            }
          }
        }
        
        .boxProduct_cep{
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          font-size: 10pt;
          
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          
          padding-top: 15px;
          gap: 10px;
          
          .boxProduct_boxCep{
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 70%;
            height: 50px;
            border-radius: 5px;
            box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
            
            input{
              width: 70%;
              height: 70%;
              font-size: 15pt;
              
              border: none;
              border-right: 1px solid rgba(0, 0, 0, 0.2);
              padding-left: 20px;
            }
            
            button{
              width: 30%;
              font-size: 14pt;
              font-weight: 300;
              border: none;
              background-color: inherit;
              margin: 0 10px;
              transition: all 0.3s ease;
              
              &:hover{
                color: var(--destaque-contraste);
                cursor: pointer;
              }
            }
          }
        }
      }
      
    }
  }
}

@media screen and (max-width: 760px){
  .boxProduct{
    height: auto;
    width: 100%;
    flex-direction: column;
    
    .boxProduct_conteiner{
      width: 95%;
      flex-direction: column;
      text-align: center;
      
      .boxProduct_gallery{
        padding-top: 20px;
        width: 100%;
        flex-direction: column;
        
        .boxProduct_gallery_miniature{
          width: 97%;
          flex-direction: row;
          gap: 5px;
          
          .boxProduct_gallery_miniatureConteiner{
            width: 100%;
            
            img{
              cursor: pointer;
            }
          }
        }
        
        .boxProduct_gallery_main{
          width: 100%;
          flex-direction: column;
          
          .boxProduct_gallery_mainLupa {
            
            .lupa {
              width: 100px; /* Tamanho da lupa */
              height: 100px;
              background-size: 200%;
            }
          }
          
          .boxProduct_gallery_share{
            position: static;
            height: 40px;
            width: 100%;
            flex-direction: column;
            font-size: 11pt;
            padding: 10px 0;
            
            .boxProduct_gallery_shareIcons{
              border: none;
              
              img{
                height: 80%;
              }
            }
          }
        }
        
      }
      
      .boxProduct_description{
        width: 100%;
        justify-content: center;
        padding: 0;
        
        
        .boxProduct_descriptionTitle{
          width: 97%;
          align-items: center;
          
          h2{
            font-size: 10pt;
          }
          
          h1{
            font-size: 15px;
          }
          
          span{
            font-size: 12px;
          }
        }
        
        .boxProduct_descriptionPrice{
          width: 95%;
          align-items: center;
        }
        
        .boxProduct_btns{
          width: 97%;
        }
        
        .boxProduct_cep{
          width: 97%;
        }
      }
    }
  }

@media screen and (max-width: 480px){
  .boxProduct{
    
    .boxProduct_conteiner{
      
      .boxProduct_gallery{
        
        .boxProduct_gallery_main{
          width: 100%;
          flex-direction: column;
          
          .boxProduct_gallery_mainLupa {
            
            .lupa {
              display: none;
              
              width: 100px; /* Tamanho da lupa */
              height: 100px;
              background-size: 200%;
            }
            
          }
          
          .boxProduct_gallery_share{
            position: static;
            height: 40px;
            width: 100%;
            flex-direction: column;
            font-size: 11pt;
            padding: 10px 0;
            margin: 20px 0;
            
            gap: 3px;
            
            .boxProduct_gallery_shareIcons{
              border: none;
              
              img{
                height: 50%;
              }
            }
            
            .boxProduct_gallery_shareFav{
              
              img{
                height: 65%;
              }
            }
          }
        }
      }
  
      .boxProduct_description{
        text-align: center;
        
        .boxProduct_descriptionPrice{
          
          .boxProduct_offerPrice{
            
            justify-content: center;
            text-align: center;
            
            /* PRICE OFFER */
            h1{
            }
  
            /* PREÇO ORIGINAL */
            h2{
            }
            
            p{
              
              strong{
              }
            }
            
          }
          
          h3{
            
            p{
            }
          }
          
          /* PARCELAMENTO */
          p{
          }
        }
        
        .boxProduct_btns{
          align-items: center;
          
          * button{
          }
          
          .boxProduct_btnsSup{
            
            width: 85%;
            
            .boxProduct_btnsQtd{
              
              input{
                
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              
                & {
                  -moz-appearance: textfield;
                }
              }
              
              button{
                
                &:hover{
                }
              }
            }
            
            .boxProduct_btnsBuy{
              width: 75%;
              
              button{
                
                &:hover{
                  
                }
              }
            }
          }
          
          .boxProduct_btnsInf{
            border: 1px solid var(--whatsapp);
            
            height: 30px;
            width: 85%;
            
            border-radius: 5px;
            
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            
            button{
              font-size: 11pt;
              color: var(--whatsapp);
              
              img{
                height: 75%;
                width: auto;
                margin-left: 5px;
              }
              
              &:hover{
                background-color: var(--whatsapp);
                color: var(--branco);
              }
              
              &:hover img{
                content: url('https://assets.onecompiler.app/42wu6ajnx/436r6bnrh/whatsapp_w.png');
              }
            }
          }
        }
        
        .boxProduct_cep{
          flex-direction: column;
          align-items: center;
          width: 100%;
          font-size: 13pt;
          
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          
          padding-top: 15px
          margin-bottom: 15px;
          gap: 10px;
          
          .boxProduct_boxCep{
            border: 1px solid rgba(0, 0, 0, 0.2);
            
            width: 85%;
            
            height: 50px;
            border-radius: 5px;
            box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
            
            margin-bottom: 15px;
            
            input{
              width: 70%;
              height: 70%;
              font-size: 15pt;
              
              border: none;
              border-right: 1px solid rgba(0, 0, 0, 0.2);
              padding-left: 20px;
            }
            
            button{
              width: 30%;
              font-size: 14pt;
              font-weight: 300;
              border: none;
              background-color: inherit;
              margin: 0 10px;
              transition: all 0.3s ease;
              
              &:hover{
                color: var(--destaque-contraste);
                cursor: pointer;
              }
            }
          }
        }
      }
      
    }
  }  
  
 .boxDescription{
    line-height: 2;
  
    .boxDescription_content{
      flex-direction: column;
      width: 95%;
      align-items: flex-start;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 375px){
  
  #header{
    
    width: 100%;
    height: 97px;
    
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
    
  }
}