@import url("../../../index_main_style.css");

body{
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
  gap: 5px;
}

.boxFilterCatalog{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxFilterCatalog{
  height: 50px;
  width: 90%;
  
  justify-content: space-between;
  
  border: 1px solid red;
  
  button{
    border: none;
    height: 80%;
    width: 150px;
    
    margin: 0 20px;
  }
}

/* Estilos para o container usando Grid */
.boxCatalog{
  width: 90%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0 auto;
  
  border: 1px solid blue;
  
  .container {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 colunas com larguras iguais */
    gap: 5px; /* Espaçamento entre os itens */
    
    /* Estilos para os itens (divs com iframe) */
    .contIframe {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 700px; /* Altura fixa para os iframes */
      box-sizing: border-box;
      
      iframe {
        width: 100%; /* Faz o iframe ocupar toda a largura do contêiner */
        height: 100%; /* Faz o iframe ocupar toda a altura do contêiner */
        border: none; /* Remove a borda do iframe */
        border-radius: 8px; /* Bordas arredondadas */
      }
    }
  }
}

@media (max-width: 1024px){
  .boxCatalog{
    
    .container {
      
      /* Estilos para os itens (divs com iframe) */
      .contIframe {
        height: 570px; /* Altura fixa para os iframes */
      }
    }
  }
}

@media (max-width: 375px){
  .boxCatalog{
    width: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid blue;
    
    margin: 0 auto;
    
    .container {
      width: 100%;
      
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* 4 colunas com larguras iguais */
      gap: 5px; /* Espaçamento entre os itens */
      
      border: 1px solid red;
      
      /* Estilos para os itens (divs com iframe) */
      .contIframe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px; /* Altura fixa para os iframes */
        box-sizing: border-box;
        
        iframe {
          width: 100%; /* Faz o iframe ocupar toda a largura do contêiner */
          height: 100%; /* Faz o iframe ocupar toda a altura do contêiner */
          border: none; /* Remove a borda do iframe */
          border-radius: 8px; /* Bordas arredondadas */
        }
      }
    }
  }
}
