*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.boxProduct, .boxProduct *{
  display: flex;
  justify-content: center;
  align-items: center;
  
  a{
    text-decoration: none;
    color: inherit;
  }
}

.boxProduct{
  border-radius: 5px;
  height: 100%;
  width: 95%;
  flex-direction: column;
  transition: all 0.5s ease;
  margin: 0 auto;
  margin-top: 10px;
   
  .boxProduct_conteiner{
    width: 90%;	
    flex-direction: column;
    padding: 5px 0;
    
    .boxProduct_gallery{
      height: 100%;
      width: 100%;;
      
      .boxProduct_gallery_main{
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: auto;
        
        .boxProduct_gallery_mainLupa {
          position: relative;
          display: inline-block;
          width: 100%;
          aspect-ratio: 1/1;
          margin-top: 5px;
          
          img {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100%; /* Tamanho da imagem */
            height: auto;
            transition: opacity 0.5s ease;
          }
        
          #img_1 {
            opacity: 1; /* Inicialmente visível */
          }
        
          #img_2 {
            opacity: 0; /* Inicialmente invisível */
            position: absolute;
            top: 0;
            left: 0;
          }
        
          &:hover #img_1 {
            opacity: 0;
          }
        
          &:hover #img_2 {
            opacity: 1;
          }
          
          .boxBtnFav{
            position: absolute;
            top: 5px;
            right: 5px;
            height: 35px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: var(--cinza);
            
            opacity: 0;
            transition: opacity 0.3s ease;
            
            .checkboxFav{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 65%;
              width: auto;
              border: none;
              transition: opacity 0.3s ease; /* Transição suave de opacidade */
            }
            
            #imgFav_2{
              opacity: 0;
            }
            
            &:hover{
              opacity: 1;
              cursor: pointer;
            }
          }
          
          .boxStampOffer{
            display: none;
            
            position: absolute;
            top: 5px;
            left: 5px;
            height: 35px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: var(--destaque);
            
            span{
              color: var(--branco);
              font-size: 10pt;
            }
          }
          
          
        }
      }
    }
    
    .boxProduct_description{
      font-family: 'Open Sans';
      height: 100%;
      width: 100%;
      flex-direction: column;
      margin-top: 15px;
      
      .boxProduct_descriptionTitle{
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 15px;
        width: 100%;
        
        h1{
          font-size: 18px;
	        text-align: center;
	        width: 100%;  /* Garante que o h1 ocupe toda a largura da div */
          display: -webkit-box;  /* Cria uma caixa flexível */
          -webkit-line-clamp: 2;  /* Limita a exibição a 2 linhas */
          -webkit-box-orient: vertical;  /* Alinha o conteúdo verticalmente */
          overflow: hidden;  /* Esconde o conteúdo que ultrapassar o limite */
          text-overflow: ellipsis;  /* Adiciona reticências (...) no final, se necessário */
        }
      }
      
      .boxProduct_descriptionPrice{
        height: auto;
        width: 100%;
	      flex-direction: column;
	      align-items: center;
	      gap: 10px;
	      margin-bottom: 10px;
        
        .boxProduct_offerPrice{
          align-items: baseline;
          flex-direction: column;
          gap: 5px;
          text-align: center;
          flex-wrap: wrap;
          width: 100%;
          
          /* PRICE OFFER */
          h1{
            align-items: baseline;
            font-size: 30px;
            color: var(--destaque);
  	        font-weight: bold;
  	        text-align: center;
            width: 100%;
            
            gap: 5px;
            
            strong{
              font-size: 17px;
            }
          }

          /* PREÇO ORIGINAL */
          h2{
            font-size: 15px;
            text-align: center;
            width: 100%;
            gap: 5px;
            
            font-weight: normal;
            
            strong{
              text-decoration: line-through;
              font-weight: normal;
            }
          }
          
          p{
            font-size: 17px;
            text-align: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 5px;
            font-weight: normal;
            
            strong{
              font-weight: normal;
              color: var(--destaque);
            }
          }
          
        }
        
        .boxProduct_installmentsPrice{
          width: 100%;
          flex-direction: column;
          
          h3{
            gap: 5px;
            
            p{
              font-size: 15px
              font-weight: 400;
            }
          }
          
          /* PARCELAMENTO */
          p{
            font-size: 15px;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;
          }
        }
        
      }
      
      .boxProduct_btns{
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 5px 0;
        
        * button{
          height: 100%;
          width: 100%;
          border: none;
          background-color: inherit;
          cursor: pointer;
        }
        
        .boxProduct_btnsSup{
          width: 100%;
          height: 50px;
          justify-content: center;
          flex-direction: row;
          gap: 0;
          border-radius: 5px;
          
          transition: all 0.3s ease;
          border: 2px solid var(--destaque);
          
          .boxProduct_btnsBuy{
            width: 70%;
            height: 100%;
            
            button{
              font-size: 12pt;
              font-weight: bold;
              color: var(--branco);
              background-color: var(--destaque-contraste);
              transition: all 0.3s ease;
              
              &:hover{
                background-color: var(--branco);
                color: var(--destaque-contraste);
              }
            }
          }
          
          .boxProduct_btnsQtd{
            width: 30%;
            height: 100%;
            flex-direction: row;
            
            input{
              text-align: center;
              font-size: 15pt;
              
              width: 35%;
              height: 100%;
              
              border: none;
              
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            
              & {
                -moz-appearance: textfield;
              }
            }
            
            button{
              width: 30%;
              font-size: 15pt;
              
              &:hover{
                color: var(--destaque-contraste);
              }
            }
          }
          
          .boxProduct_btnsBuy:hover + .boxProduct_btnsQtd{
            background-color: var(--destaque);
            
            input{
              background-color: var(--destaque);
              color: var(--branco);
            }
            
            button{
              color: var(--branco);
              background-color: var(--destaque);
            }
          }
        }
        
        .boxProduct_btnsInf{
          border: 1px solid var(--whatsapp);
          background-color: var(--whatsapp);
          height: 30px;
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          flex-direction: row;
          transition: all 0.3s ease;
          
          button{
            font-size: 9pt;
            color: var(--branco);
            font-weight: bold;
            flex-direction: row;
            
            transition: all 0.3s ease;
            
            img{
              height: 75%;
              width: auto;
              margin-left: 5px;
            }
            
            &:hover{
              background-color: var(--branco);
              color: var(--whatsapp);
              border: 1px solid var(--whatsapp);
            }
            
            &:hover img{
              content: url('https://assets.onecompiler.app/42wu6ajnx/436r6bnrh/whatsapp_g.png');
            }
          }
        }
      }
    }
  }
}

.boxProduct:hover .boxProduct_conteiner .boxProduct_gallery .boxProduct_gallery_main .boxProduct_gallery_mainLupa .boxBtnFav{
  opacity: 0.8;
}

.boxProduct:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}