*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

:root{
--destaque-contraste: #ff7a00 ;
--destaque: #6a3156;
--destaque-escuro: #241023 ;

--branco: #FFFFFF;
--cinza: #E9EAEB;

--dark: #15161B;
--dark-soft: #282F37;
--dark-logo: #1C1C1C;

--whatsapp: #25D366;
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.boxProduct, .boxProduct *{
  display: flex;
  justify-content: center;
  align-items: center;
  
  a{
    text-decoration: none;
    color: inherit;
  }
}

.boxProduct{
  border-radius: 5px;
  height: 100%;
  width: 95%;
  flex-direction: column;
  transition: all 0.5s ease;
  margin: 0 auto;
  margin-top: 10px;
   
  .boxProduct_conteiner{
    width: 90%;	
    flex-direction: column;
    padding: 5px 0;
    
    .boxProduct_gallery{
      height: 100%;
      width: 100%;;
      
      .boxProduct_gallery_main{
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: auto;
        
        .boxProduct_gallery_mainLupa {
          position: relative;
          display: inline-block;
          width: 100%;
          aspect-ratio: 1/1;
          margin-top: 5px;
          
          img {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100%; /* Tamanho da imagem */
            height: auto;
            transition: opacity 0.5s ease;
          }
        
          #img_1 {
            opacity: 1; /* Inicialmente visível */
          }
        
          #img_2 {
            opacity: 0; /* Inicialmente invisível */
            position: absolute;
            top: 0;
            left: 0;
          }
        
          &:hover #img_1 {
            opacity: 0;
          }
        
          &:hover #img_2 {
            opacity: 1;
          }
          
          .boxBtnFav{
            position: absolute;
            top: 5px;
            right: 5px;
            height: 35px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: var(--cinza);
            
            opacity: 0;
            transition: opacity 0.3s ease;
            
            .checkboxFav{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 65%;
              width: auto;
              border: none;
              transition: opacity 0.3s ease; /* Transição suave de opacidade */
            }
            
            #imgFav_2{
              opacity: 0;
            }
            
            &:hover{
              opacity: 1;
              cursor: pointer;
            }
          }
          
          .boxStampOffer{
            position: absolute;
            top: 5px;
            left: 5px;
            height: 35px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: var(--destaque);
            
            span{
              color: var(--branco);
              font-size: 10pt;
            }
          }
          
          
        }
      }
    }
    
    .boxProduct_description{
      font-family: 'Open Sans';
      height: 100%;
      width: 100%;
      flex-direction: column;
      
      .boxProduct_descriptionTitle{
        height: 55px;
	      width: 100%;
        text-align: center;
        gap: 10px;
        padding: 5px 0;
        overflow: hidden;
        
        h2{
          font-size: 50px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.5);
        }
        
	      /* TITULO */
        h1{
          font-size: 16px;
          font-weight: normal;
	        text-align: center;
	        width: 100%;  /* Garante que o h1 ocupe toda a largura da div */
          display: -webkit-box;  /* Cria uma caixa flexível */
          -webkit-line-clamp: 2;  /* Limita a exibição a 2 linhas */
          -webkit-box-orient: vertical;  /* Alinha o conteúdo verticalmente */
          overflow: hidden;  /* Esconde o conteúdo que ultrapassar o limite */
          text-overflow: ellipsis;  /* Adiciona reticências (...) no final, se necessário */
        }
        
        span{
          font-size: 15px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      
      .boxProduct_descriptionPrice{
        height: 55px;
        width: 100%;
        padding: 5px 0;
        gap: 5px;
	      flex-direction: column;
	      margin: 10px 0;
        
        .boxProduct_offerPrice{
          
          align-items: baseline;
          gap: 5px;
          
          flex-wrap: wrap;
          
          /* PRICE OFFER */
          h1{
            font-size: 23px;
            color: var(--destaque);
  	        font-weight: bold;
          }

          /* PREÇO ORIGINAL */
          h2{
            font-size: 13px;
            text-decoration: line-through;
          }
          
        }
        
        /* PARCELAMENTO */
        p{
          font-size: 14px;
          flex-direction: row;
          gap: 5px;
          flex-wrap: wrap;
        }
      }
      
      .boxProduct_btns{
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 5px 0;
        
        * button{
          height: 100%;
          width: 100%;
          border: none;
          background-color: inherit;
          border-radius: 5px;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        
        .boxProduct_btnsSup{
          width: 100%;
          height: 50px;
          justify-content: space-between;
          gap: 10px;
          flex-direction: row;
          
          .boxProduct_btnsQtd{
            border: 1px solid rgba(0, 0, 0, 0.3);
            width: 30%;
            height: 100%;
            border-radius: 5px;
            flex-direction: row;
            
            input{
              text-align: center;
              font-size: 12pt;
              
              width: 35%;
              height: 100%;
              
              border: none;
              
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            
              & {
                -moz-appearance: textfield;
              }
            }
            
            button{
              width: 30%;
              font-size: 10pt;
              
              &:hover{
                color: var(--destaque-contraste);
              }
            }
          }
          
          .boxProduct_btnsBuy{
            width: 75%;
            height: 100%;
            border-radius: 5px;
            
            button{
              font-size: 12pt;
              font-weight: bold;
              color: var(--branco);
              border: 2px solid var(--destaque-contraste);
              background-color: var(--destaque-contraste);
              
              &:hover{
                background-color: var(--branco);
                color: var(--destaque-contraste);
                border: 2px solid var(--destaque-contraste);
              }
            }
          }
        }
        
        .boxProduct_btnsInf{
          border: 1px solid var(--whatsapp);
          height: 30px;
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          flex-direction: row;
          
          button{
            font-size: 9pt;
            color: var(--whatsapp);
            font-weight: bold;
            flex-direction: row;
            
            img{
              height: 75%;
              width: auto;
              margin-left: 5px;
            }
            
            &:hover{
              background-color: var(--whatsapp);
              color: var(--branco);
            }
            
            &:hover img{
              content: url('https://assets.onecompiler.app/42wu6ajnx/436r6bnrh/whatsapp_w.png');
            }
          }
        }
      }
    }
  }
}

.boxProduct:hover .boxProduct_conteiner .boxProduct_gallery .boxProduct_gallery_main .boxProduct_gallery_mainLupa .boxBtnFav{
  opacity: 0.8;
}

.boxProduct:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}